@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(124, 42, 42);
}
h1{
    font-size: 3em;
    margin: 10px 0px;
    text-align: center;
}
 div>img{
background-size: cover;
margin-bottom: 10px;
margin-left: 35px;
 }
 